<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>product {{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>id: {{id}}</p>
  <p>id$: {{id$|async}}</p>
  <p>clock: {{clock|async|date:'yyyy-MM-dd HH:mm:ss'}}</p>

  <div class="ion-text-center" *ngIf="!product">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-text>loading product detail...</ion-text>
    <ion-loading mode="ios"></ion-loading>
  </div>

  <div *ngIf="product">
    <h1>{{product.name}}</h1>
    <img [src]="product.picture" />
    <div>
      <b>${{product.price}}</b>
      <b *ngIf="isDiscount(product)"> (limited time discount)</b>
    </div>
  </div>
</ion-content>
