<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="user.username"
        (ionInput)="checkUsername()"
        label="username"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <p class="ion-padding-horizontal">
      <ion-text color="danger">{{errors.username}}</ion-text>
    </p>
    <ion-item>
      <ion-input
        type="password"
        [(ngModel)]="user.password"
        label="password"
        labelPlacement="floating"
      ></ion-input>
    </ion-item>
    <p
      class="ion-padding-horizontal"
      *ngIf="getPasswordError() as errorMessage"
    >
      Invalid Password:
      <ion-text color="danger">{{errorMessage}}</ion-text>
    </p>
  </ion-list>

  <ion-button (click)="login()" expand="block">Login</ion-button>

  <p>username: {{user.username}}</p>
  <p>password: {{user.password}}</p>
</ion-content>
