<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-counter></app-counter>

  <ion-list>
    <ion-item
      *ngFor="let item of items"
      [routerLink]="['/product-detail',item.id]"
    >
      <ion-thumbnail slot="start">
        <img [src]="item.picture" />
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
      <ion-label slot="end">${{item.price}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
