<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-icon slot="start" name="happy"></ion-icon>
        <ion-label class="ion-text-wrap">{{item}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="removeItem(item)"
          >Delete</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input
      placeholder="input new item here..."
      [(ngModel)]="newText"
      (keypress)="handleKeyPress($event)"
    ></ion-input>
    <ion-button slot="end" (click)="addItem()">Add</ion-button>
  </ion-item>
</ion-footer>
